*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  color: #252b42;
  font-weight: 500;
  font-family: Roboto;
}

@media (max-width: 825px) {
	html {
		font-size: 0.8rem;
	}
}

@media (max-width: 325px) {
	html {
		font-size: 0.7rem;
	}
}
/* ---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
/* ---------------------------------------------------------------------------- */
[class*="__container"] {
  max-width: 35rem;
  padding: 0 1rem;
  margin: 0 auto;
  box-sizing: content-box;
}

/* header------------------------------------------------------------------- */
.header__container{
  min-height: 3rem;
  padding-top: 1rem;
}

.header__title{
  font-size: 2rem;
  font-weight: bold;
}
/* main------------------------------------------------------------------- */

.main__container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 1rem;
  background-color: #e3edf7;
  border-radius: 0.8rem;
}

.accordion{
  width: 100%;
  padding: 0 0.8rem;
}

.accordion:hover > .accordion__item> .content__title +.input__label {
  visibility: visible;
}

.accordion:hover > .accordion__item {
  color: #252b42 ;
}

.accordion__item{
  display: grid;
  grid-template: 3rem / 90% 10%;
  justify-content: space-between;
  align-items: center;
  grid-auto-rows: auto;
  border-radius: 0.8rem;
  background-color: #e3edf7;
  margin-bottom: 1.3rem;
  padding: 1rem;
  color: rgb(33, 53, 236);
  box-shadow:  0.3rem 0.3rem 0.7rem -0.1rem rgba(0, 0, 0, 0.15),
  -0.3rem -0.3rem 0.7rem -0.1rem rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.input__label{
  justify-self: center;
  height: 1.7rem;
  width: 1.7rem;
  cursor: pointer;
  visibility: hidden;
  transform:  all ease-in 0.5s;
  background: url("./assets/cross1-svgrepo-com.svg") 0 0/cover;
}

.item__input{
  display: none;
}

.item__image{
  grid-column: span 2;
  height: 0;
  overflow: hidden;
  transition: all ease-in 0.5s;
  cursor: pointer;
  justify-self: center;
}

.item__input:checked +.content__title + .input__label +.item__image,
.accordion__item:hover > .item__image{
  height: 16rem;
  width: 100%;
} 

.item__input:checked+.content__title + .input__label,.accordion__item:hover > .input__label{
  background: url("./assets//cross2-svgrepo-com.svg") 0 0/cover;
} 

#one{
  background: url(./assets/The_only_mystery_in_life_is_why_the_kamikaze_pilo_eeddd889-4ed8-416f-8bd2-295bd031fbc8.png) 50% 0/contain no-repeat;
}
#two{
  background: url(./assets/I_always_wanted_to_be_somebody_but_now_I_realize__168efc44-dd77-4c65-b627-558a2af1d008.png) 50% 0/contain no-repeat;
}
#three{
  background: url(./assets/I_can_resist_everything_except_temptation._-_Oscar_Wi_634c4e3b-218c-4c2a-a2b1-f83966ab7805.png) 50% 0/contain no-repeat;
}
#four{
  background: url(./assets/Im_not_great_at_the_advice._Can_I_interest_you_in_7e1001bc-4652-48c6-9e2b-a7926e09608c.png) 50% 0/contain no-repeat;
}
#five{
  background: url(./assets/Im_not_superstitious_but_I_am_a_little_stitious_f7b2d744-93bf-4813-9d44-077caa12178c.png) 50% 0/contain no-repeat;
}
